/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #3498db; /* Cor primária */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.Calculate-button {
  background-color: #050438; /* Cor primária escura */
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Client-header,
.Register-header {
  color: #ffffff;
  margin-bottom: 10px;
}

.Client-list {
  list-style: none;
  padding: 0;
}

.Client-item {
  background-color: #ecf0f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.Client-item:hover {
  background-color: #d2d7db;
}

.Register-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.Register-input {
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

.Register-button {
  background-color: #010a05; /* Cor primária escura */
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
